:root {
    --loading-grey: #ededed;
  }
  
body {
	margin: 0 auto;
	font-size: 14px;
	font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif;
	text-align: justify;
	color: #010000;
	position: relative;
	min-height: 100vh;
	background-color: #e493d0;
	background-image:
			radial-gradient(closest-side, rgba(235, 105, 78, 1), rgba(235, 105, 78, 0)),
			radial-gradient(closest-side, rgba(238, 156, 167, 1), rgba(238, 156, 167, 0)),
			radial-gradient(closest-side, rgba(254, 234, 131, 1), rgba(254, 234, 131, 0)),
			radial-gradient(closest-side, rgba(170, 142, 245, 1), rgba(170, 142, 245, 0)),
			radial-gradient(closest-side, rgba(248, 192, 147, 1), rgba(248, 192, 147, 0));
	background-size:
			130vmax 130vmax,
			80vmax 80vmax,
			90vmax 90vmax,
			110vmax 110vmax,
			90vmax 90vmax;
	background-position:
			-80vmax -80vmax,
			60vmax -30vmax,
			10vmax 10vmax,
			-30vmax -10vmax,
			50vmax 50vmax;
	background-repeat: no-repeat;
	animation: 10s movement linear infinite;
}

@keyframes movement {
	0%, 100% {
		background-size:
				130vmax 130vmax,
				80vmax 80vmax,
				90vmax 90vmax,
				110vmax 110vmax,
				90vmax 90vmax;
		background-position:
				-80vmax -80vmax,
				60vmax -30vmax,
				10vmax 10vmax,
				-30vmax -10vmax,
				50vmax 50vmax;
	}
	25% {
		background-size:
				100vmax 100vmax,
				90vmax 90vmax,
				100vmax 100vmax,
				90vmax 90vmax,
				60vmax 60vmax;
		background-position:
				-60vmax -90vmax,
				50vmax -40vmax,
				0vmax -20vmax,
				-40vmax -20vmax,
				40vmax 60vmax;
	}
	50% {
		background-size:
				80vmax 80vmax,
				110vmax 110vmax,
				80vmax 80vmax,
				60vmax 60vmax,
				80vmax 80vmax;
		background-position:
				-50vmax -70vmax,
				40vmax -30vmax,
				10vmax 0vmax,
				20vmax 10vmax,
				30vmax 70vmax;
	}
	75% {
		background-size:
				90vmax 90vmax,
				90vmax 90vmax,
				100vmax 100vmax,
				90vmax 90vmax,
				70vmax 70vmax;
		background-position:
				-50vmax -40vmax,
				50vmax -30vmax,
				20vmax 0vmax,
				-10vmax 10vmax,
				40vmax 60vmax;
	}
}

body::after {
	content: '';
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

div {
	position: relative;
	z-index: 10;
	color: transparent;
}

body {
    background-color: #f6f6f6;
    font-family: Helvetica;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}
  
.card {
    width: 320px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .12);
}
  
.image {
    height: 200px;
}
  
.image img {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover;
  }
  
.content {
    padding: 2rem 1.8rem;
  }
  
h4 {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  
.description {
    font-size: 1rem;
    line-height: 1.4rem;
}
  
.image:empty,
h4:empty,
.description:empty {
    background-color: var(--loading-grey);
    background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .5) 50%,
      rgba(255, 255, 255, 0) 60%
    ) var(--loading-grey);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
  }
  
@keyframes loading {
    to {
      background-position-x: -20%;
  }
}
  
h4:empty {
    min-height: 1.6rem;
    border-radius: 4px;
    animation-delay: .05s;
}
  
.description:empty {
    min-height: 4rem;
    border-radius: 4px;
    animation-delay: .06s;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
  
#captcha {
	--width: 400px;
	--height: 260px;
	--puzzle-width: 80px;
	--puzzle-height: 80px;
	--offset-left: var(--width) * -1;
	--moved: 0px;
	
	display: block;
	width: var(--width);
	height: var(--height);
	border-radius: 4px;
	background-image: url(photo1.avif);
	background-size: cover;
	background-position: center;
	position: relative;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
}
  
#captcha::before, #captcha::after {
	position: absolute;
	content: '';
	display: block;
	width: inherit;
	height: inherit;
	background-image: inherit;
	background-size: inherit;
	background-position: inherit;
	
	clip-path: inset(
	  calc( (var(--height) - var(--puzzle-height)) / 2 ) /* 90px */
	  var(--puzzle-width) /* 90px */
	  calc( (var(--height) - var(--puzzle-height)) / 2 ) /* 90px */
	  calc( var(--width) - var(--puzzle-width) * 2 ) /* 230px */
	);
	-webkit-clip-path: inset(
	  calc( (var(--height) - var(--puzzle-height)) / 2 ) /* 90px */
	  var(--puzzle-width) /* 90px */
	  calc( (var(--height) - var(--puzzle-height)) / 2 ) /* 90px */
	  calc( var(--width) - var(--puzzle-width) * 2 ) /* 230px */
	);
}
  
#captcha::after {
	transform: translatex(
	  clamp(
		calc( var(--width) * -1 ),
		calc( (var(--width) * -1) + var(--moved) ),
		calc( var(--puzzle-width) )
	  )
	);
	transition: .25s all ease-in-out;
}
  
#captcha:active::after {
	transition: none;
}
  
#captcha::before {
	background-color: rgba(0, 0, 0, .6);
	background-blend-mode: multiply;
}
  
#handle {
	width: calc( var(--width) + var(--puzzle-width) * 2 );
	height: 30px;
	border-radius: 18px;
	background-color: #eee;
	position: absolute;
	bottom: -50px;
	left: calc( var(--puzzle-width) * 2 * -1 );
	box-shadow: inset 0px 0px 12px rgba(0, 0, 0, .2);
	border: 3px solid #ccc;
}
  
#handle span {
	display: block;
	width: var(--puzzle-width);
	height: inherit;
	border-radius: inherit;
	background-color: #fff;
	box-shadow: inset 0px 0px 6px rgba(0, 0, 0, .25), 0px 2px 4px rgba(0, 0, 0, .3);
	position: absolute;
	cursor: move;
	transform: translatex(
	  clamp(
		0px,
		var(--moved),
		calc( var(--width) + var(--puzzle-width) )
	  )
	);
	
	transition: .25s all ease-in-out;
}
  
#captcha:active #handle span {
	transition: none;
}
  
#captcha.passed::before,
#captcha.passed::after,
#captcha.passed #handle {
	opacity: 0;
}